{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Django DF</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <!-- Menu -->
    <nav>
        <ul>
            <li>Fundamentos Python</li>
            <li>Fundamentos Redes</li>
            <li>Fundamentos Nuvem</li>
            <li>Fundamentos IA</li>
            <li>Fundamentos Data Science</li>
            <li>Fundamentos Django</li>
        </ul>
    </nav>


    <!-- Cabeçalho -->
    <header>
        <h1>Django DF</h1>
        <h6>Comunidade Django do Distrito Federal</h6>
    </header>


    <!-- Conteúdo das páginas filhas -->
    <main>
        {% block content %}
        {% endblock %}
    </main>


    <!-- Rodapé -->
    {% include 'motorartigos/partials/_footer.html' %}


</body>
</html>